
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
Sentry_*.xlsx
sentry-automation.log
dist/

/output/*
!/output/.gitkeep


/reports/*
# !/reports/.gitkeep